@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.matching-body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #252839;
}

h2 {
  position: relative;
  font-size: 5vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #00e479;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #00c468;
  overflow: hidden;
  animation: matching_animate 6s linear infinite;
  text-shadow: 0 0 10px #236e00,
    0 0 15px #247000,
    0 0 20px #247000;
}

@keyframes matching_animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}