@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html {
    background-color: #0e3742 !important;
}

/*layout*/
.startMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    height: 25vh;
    font-size: 200px;
    font-family: "Comic Sans MS";
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1:hover {
    cursor: help;
    color: #FFAB9D;
    transform: rotate(5deg);
}

.signin-text-top {
    position: relative;
    font-size: 7vw;
    color: #ff0000;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: red;
}

.signin-text-middle {
    position: relative;
    font-size: 7vw;
    color: #d9ff00;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.signin-text-middle::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #d9ff00;
    -webkit-text-stroke: 0.3vw #383d52;
    border-right: 0px solid #d9ff00;
    overflow: hidden;
    animation: matching_animate 6s linear infinite;
}

.signin-text-bottom {
    position: relative;
    font-size: 7vw;
    color: #ff0000;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.signin-title-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signin-title-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signin-title-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.signin-title-image {
    width: 20%;
    height: 20%;
    vertical-align: bottom;
}

.quit {
    display: flex;
    flex-direction: row;
    width: 12em;
    height: 2em;
    justify-content: space-evenly;
    align-items: center;
}

button {
    outline: none;
}

.btn {
    text-decoration: none;
    color: #111;
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
    font-family: "Comic Sans MS";
    width: 30%;
}


.btn:active {
    transform: scale(.96);
}

.btn:hover:before {
    width: 100%;
    background: #FFAB9D;
}

.btn:hover svg {
    transform: translateX(0);
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #FFAB9D;
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.btn span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.startbtn {
    margin: 5px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Comic Sans MS";
}

.startbtn:focus {
    outline: none;
}

.game {
    display: flex;
    margin: 0px;
    justify-content: space-between;
    background-color: #0e3742;
}

.right {
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left {
    margin-left: 10%;
    margin-right: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.board {
    display: flex;
    margin: 50px;
    border: 5px solid black;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.438),
        0px 0px 70px rgb(0, 153, 255);
}

.piece {
    width: 10vh;
    height: 10vh;

}

.hint {
    opacity: 0;
}

.hint:hover {
    opacity: 0.5;
}

.Grid1x1 {
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multi-button {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: "Comic Sans MS";
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
    box-sizing: border-box;
}

.multi-button {
    /* height: 100vh; */
    margin: 0 auto;
    display: grid;
    place-items: center;
    padding: calc(var(--space) * 2);
    max-width: 700px;
    display: flex;
    width: 100%;
    /* box-shadow: var(--shadow) 4px 4px; */
}

.multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
        calc(var(--space) / 1.125) var(--space) var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
}

.multi-button button+button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}

.multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}

.multi-button button:active {
    transform: translateY(var(--border-size));
}

.centered {
    width: 500px;
    height: 200px;
    margin: auto;
}

.group {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
}

label {
    position: absolute;
    top: 36.6666666667px;
    color: rgba(128, 128, 128, .5);
    font: 700 36.6666666667px "Comic Sans MS";
    cursor: text;
    transition: 0.25s ease;
}

input {
    display: block;
    width: 100%;
    padding-top: 36.6666666667px;
    border: none;
    border-radius: 0;
    color: grey;
    background: white;
    font-size: 36.6666666667px;
    transition: 0.3s ease;
}

input:valid~label {
    top: 0;
    font: 700 22px "Comic Sans MS";
    color: rgba(255, 255, 255, .5);
}

input:focus {
    outline: none;
}

input:focus~label {
    top: 0;
    font: 500 22px "Comic Sans MS";
    color: grey;
}

input:focus~.bar:before {
    transform: translateX(0);
}

.bar {
    background: rgba(255, 255, 255, .5);
    content: '';
    width: 500px;
    height: 1px;
    transition: 0.3s ease;
    position: relative;
}

.bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: grey;
    transform: translateX(-100%);
}

::selection {
    background: rgba(128, 128, 128, .3);
}


.User {
    margin: 30px;
    width: 475.8px;
    height: 300px;

    font-family: "Poppins";

    border: 5px solid black;
    border-radius: 0.75rem;
    box-shadow: 0 22px 100px 4px rgba(255, 255, 255, 0.212),
        0 0 0 1px rgba(255, 255, 255, 0.3);

    background: rgba(255, 255, 255, 0.144);

    display: flex;
    flex-direction: row;
    grid-template-columns: 40% auto;
    color: white;

    align-items: center;
}

.card-right {
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-right: 2em;
    margin-left: 1em;
}

.card-name {
    align-items: center;
    place-items: center;
}

.card-left {
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-right: 1em;
    margin-left: 2em;
}

.card-avatar {
    display: grid;
    place-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-avatar .face {
    height: 150px;
    width: 200px;
    align-items: center;
}

.card-stats {
    align-items: center;
}

.card-details {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-details .piece {
    width: 7vh;
    height: 7vh;
    margin-right: 1em;
    align-items: center;
    background: transparent;
    background-color: transparent;
}

.card-details .data {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.item .value {
    font-size: 30px;
}

.item .label {
    margin-top: 2.4px;
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.value .piece {
    width: 7vh;
    height: 7vh;
}

.endgame-layout {
    text-align: center;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.endgame-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.endgame-newgame {
    font-size: 6em;
    font-family: "Poppins";
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    border: none;
    line-height: 0.7em;
    outline: none;
    background-color: transparent;
    text-shadow: 0px 0px 8px rgb(0, 255, 0), 0px 0px 16px rgb(255, 255, 255);
}

.endgame-newgame:hover {
    box-shadow: 0 0 10px #00ff0dde;
    animation: glow-animate-green 5s linear infinite;
}

.endgame-logout {
    font-size: 6em;
    font-family: "Poppins";
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    border: none;
    line-height: 0.7em;
    outline: none;
    background-color: transparent;
    text-shadow: 0px 0px 8px rgb(255, 0, 0), 0px 0px 16px rgb(255, 255, 255);
}

.endgame-logout:hover {
    box-shadow: 0 0 10px #f40303de;
    animation: glow-animate-red 5s linear infinite;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.heading {
    font-size: 6rem;
    letter-spacing: 6px;
    margin: 0;
}

.heading--stroke-shadow {
    color: white;
    text-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 6px 6px grey;
}

@keyframes glow-animate-blue {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4de,
            0 0 20px #03bcf4de,
            0 0 40px #03bcf4de,
            0 0 80px #03bcf4de,
            0 0 160px #03bcf4de;

    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }
}

@keyframes glow-animate-red {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #fff;
        text-shadow: 0 0 10px #ff6600de,
            0 0 20px #ff6600de,
            0 0 40px #ff6600de,
            0 0 80px #ff6600de,
            0 0 160px #ff6600de,
            0 0 320px #ff6600de,
            0 0 640px #ff6600de;

    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #f43303,
            0 0 20px #f43303,
            0 0 40px #f43303,
            0 0 80px #f43303,
            0 0 160px #f43303,
            0 0 320px #f43303,
            0 0 640px #f43303;
    }
}

@keyframes glow-animate-green {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #fff;
        text-shadow: 0 0 10px #8dff30de,
            0 0 20px #8dff30de,
            0 0 40px #8dff30de,
            0 0 80px #8dff30de,
            0 0 160px #8dff30de,
            0 0 320px #8dff30de,
            0 0 640px #8dff30de;

    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #52ff30de,
            0 0 20px #52ff30de,
            0 0 40px #52ff30de,
            0 0 80px #52ff30de,
            0 0 160px #52ff30de,
            0 0 320px #52ff30de,
            0 0 640px #52ff30de;
    }
}

@keyframes matching_animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}
